{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <img class="img-fluid" src="img/landmarks/{{ landmarks.image }}">
      <div class="landmarks-border">
        <h4>{{ landmarks.established }}</h4>
        <h5>{{ landmarks.location }}</h5>
        <h5>{{ landmarks.activities }}</h5>
      </div>
    </div>
    <div class="col-sm-8">
      <div class= "landmarks-box" style="background-color: white">
      <h2 class="landmarks-title">{{ landmarks.name }}</h2>
      <p class="landmarks-text">{{ landmarks.text | safe }}</p>
      </div>
    </div>
  </div>
</article>
{% endblock %}
