{% extends '_layouts/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2 class="index-header">Overview</h2>
      <p>Austin is the capital city of the U.S. state of Texas, as well as the seat and largest city of Travis County, with portions extending into Hays and Williamson counties. It is the 11th-most populous city in the United States, and is the cultural and economic center of the Austin–Round Rock metropolitan statistical area. Located in Central Texas within the greater Texas Hill Country, it is home to numerous lakes, rivers, and waterways, including Lady Bird Lake and Lake Travis on the Colorado River, Barton Springs, McKinney Falls, and Lake Walter E. Long. U.S. News & World Report named Austin the No. 1 place to live in the U.S. for 2017 and 2018.</p>
      <p>Residents of Austin are known as Austinites. They include a diverse mix of government employees, college students, musicians, high-tech workers, and blue-collar workers. The city's official slogan promotes Austin as "The Live Music Capital of the World", a reference to the city's many musicians and live music venues, as well as the long-running PBS TV concert series Austin City Limits. In recent years, some Austinites have adopted the unofficial slogan "Keep Austin Weird", which refers to the desire to protect small, unique, and local businesses from being overrun by large corporations.</p>
      <p>By the 1990s, Austin emerged as a center for technology and business. A number of Fortune 500 companies have headquarters or regional offices in Austin, including 3M, Amazon, Apple, Google, IBM, Intel, Oracle, Texas Instruments, and Whole Foods Market. Dell's worldwide headquarters is located in the nearby suburb of Round Rock.</p>
    </div>
  </div>

  {% include "_partials/landmarks.njk" %}
  {% include "_partials/restaurants.njk" %}
<p><iframe src="//batchgeo.com/map/94ecb51768b30202da1fe30aa9c9f3f2" frameborder="0" width="100%" height="550" sandbox="allow-top-navigation allow-scripts allow-popups allow-same-origin allow-modals allow-forms" style="border:1px solid #aaa;"></iframe></p><p><small>View <a href="https://batchgeo.com/map/94ecb51768b30202da1fe30aa9c9f3f2">Austin murals</a> in a full screen map</small></p>
</div>
{% endblock %}
