{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-6">
    <h2>Discography</h2>
    {% for title in data.discography %} 
    <ul class="list-unstyled">
      <li class="media">
        <img class="mr-3" src="img/discs/{{ title.image }}" alt="album image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ title.title }}</h5>
          <h6>{{ title.year }}</h6>
        </div>
      </li>
    </ul>
    {% endfor %}
    </div>
    <div class="col-6 border-left">
      <h2>Who is Queen?</h2>
      <p class="author">By Meghan Nguyen</p>
      <p class="description">Queen was one of the longest-lasting and most commercially successful bands to emerge from the British heavy rock scene of the early 1970s. Formed in London in 1970 following the demise of the band Smile, Queen originally consisted of vocalist Freddie Mercury, guitarist Brian May and drummer Roger Taylor before being joined by bassist John Deacon. The band became popular with audiences via their hit singles, live performances, originality and showmanship, being voted the greatest British band of all time in a national BBC poll. Their Live Aid (1985) performance was voted the best live rock performance of all time in an industry poll. According to the BBC, Queen have sold more than 300 million albums as of 2009.
      </p>
      <p> Source: <a href="https://www.imdb.com/name/nm1277102/bio">IMDb</a>
      </p>
      <h3>Band Members</h3>
      <div class="row">
        <div class="col-8">
        {% for member in data.members %} 
          <div class="card">
            <img class="card-img-top" src="img/members/{{ member.image }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ member.name }}</h5>
              <p class="card-text">{{ member.instruments }}</p>
              <a href="{{ member.slug }}.html" class="btn btn-dark">Read more</a>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="datawrap"><iframe title="Queen's Billboard Hits- weeks on chart" aria-label="Bar Chart" id="datawrapper-chart-CY2Ti" src="//datawrapper.dwcdn.net/CY2Ti/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="592"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script></div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
