<h2 class="index-header">Noteworthy Landmarks</h2>

<div class="row">
  {% for landmarks in austin.landmarks %}
  <div class="col-sm-6 col-md-3 mb-4">
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="img/landmarks/{{ landmarks.imagebw }} " alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title"><a href="{{ landmarks.slug }}.html">{{ landmarks.name }}</a></h3>
        <p class="card-text">{{ landmarks.activities }}</p>
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
</div>

