<h2 class="index-header">Noteworthy Restaurants</h2>
<div class="row">
    {% for restaurants in austin.restaurants %} 
    <div class="col-sm-6 col-md-3 mb-4">
      <div class="card-deck">
        <div class="card">
      <img class="card-img-top" src="img/restaurants/{{ restaurants.image }} " alt="Card image cap">
          <div class="card-body">
      <h3 class="card-title">{{ restaurants.title }}</h3>
      <h6 class="card-text">{{ restaurants.category }}</h6>
        <p class="card-text">{{ restaurants.address }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>