/* jumbotron */
.black-border {
  border: 10px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px;
}
.jumbotitle {
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color:black;
}
.jumbotron.banner {
  background: url(../img/austin-wallpaper-option1.jpg) no-repeat center;
  background-size: cover;
  color: black;
}