/* nav */

.navbar {
  margin-bottom: 20px;
}

.nav-item {
  font-family: 'Josefin Sans', sans-serif;
}

.nav-link {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
}