// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

 $body-bg: #889CB8;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";


h2, h3, h4, h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
}
.img-fluid {
  padding-bottom: 10px;
}
.member-title {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.member-border {
  border: 4px solid black;
  padding: 5px;
  margin-bottom: 5px;
}
.datawrap {
  border: 4px solid black;
  margin-top: 20px;
}

.albums {
  width: 75%
}

.landmarks-border {
  border: 3px solid black;
  padding: 5px;
}

.row {
  padding: 5px;
}

.landmarks-box {
  padding: 10px;
}

.desc {
  padding: 20px;
}

.index-header {
  margin-top: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.activity-title {
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.card-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.card-text {
  font-family: 'Josefin Sans', sans-serif;
}
